/node_modules
/public
/storage
/app
/bootstrap
/database
/routes
/tests
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

#lock file
package-lock.json
composer.lock
