h3 {
    /*text-transform:capitalize*/
    text-align: left;
    font-size: 20px;
    /*align-self: center;*/
}

#user-profile-page {
    display: flex;
    flex-direction: row;
    min-height: 79vh;
    padding-top: 30px;
    justify-content: center;
}
#user-avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 50px auto 50px;
    background-color: #3490dc;
}
#user-info {
    margin: 0 0 auto 50px;
}

@media only screen and (max-width: 430px) {
    #user-profile-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #user-info {
        margin: 0 auto auto auto;
    }

    #user-avatar {
        margin: 0 50px 0 50px;
    }
}
